<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <table>
        <tr>
            <th>name</th>
            <th>price</th>
            <th>sku</th>
            <th>category</th>
        </tr>
        {% if products %}
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.sku }}</td>
            <td>{{ product.category }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</body>
</html>